<div style="height:50px"></div>
<md-content class="jh-menu-view sinPad" md-whiteframe="3" layout="column" flex="60" flex-offset="20"
            ng-controller="emplCtrl">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-fab md-mini" ui-sref="home">
                <md-icon class="material-icons">chevron_left</md-icon>
            </md-button>
            <img src="img/003-waiter.svg" style="width: 40px; margin-right:10px">
            <p class="md-display-1 text-center" flex> Empleados</p>
            <md-button class="md-fab md-mini" ng-click="showSearch = !showSearch">
                <md-icon class="material-icons">search</md-icon>
            </md-button>
            <md-button class="md-fab md-mini" ui-sref="addEmp">
                <md-icon class="material-icons">add</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="row" layout-align="space-around">
        <md-progress-circular ng-if="preload" md-diameter="80" md-mode="indeterminate"></md-progress-circular>
    </div>
    <div layout="column">
        <div class="deep-orange lighten-5" layout="row" layout-padding layout-align="center" ng-show="showSearch">
            <div flex="10">
                <h4>Buscar</h4>
            </div>
            <div flex="20">
                <md-input-container class="md-block">
                    <label>Cargos</label>
                    <md-select ng-model="find.CodCar">
                        <md-option ng-value><em>Todos</em></md-option>
                        <md-option ng-repeat="c in cargos | orderBy: 'Nombre'" ng-value="c.CodCar">
                            {{c.Nombre}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="20">
                <md-input-container class="md-block">
                    <label>Tienda</label>
                    <md-select ng-model="find.CodSuc">
                        <md-option ng-value><em>Todos</em></md-option>
                        <md-option ng-repeat="t in tiendas | orderBy: 'Direccion'" ng-value="t.CodSuc">
                            {{t.Direccion}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="20">
                <md-input-container class="md-block">
                    <label>Nombre</label>
                    <input type="text" ng-model="find.Nombres">
                </md-input-container>
            </div>
            <div flex="20">
                <md-input-container class="md-block">
                    <label>Apellidos</label>
                    <input type="text" ng-model="find.Apellidos">
                </md-input-container>
            </div>
            <div flex="10">
                <md-button class="md-fab md-mini" ng-click="showSearch = !showSearch">
                    <md-icon class="material-icons">keyboard_arrow_up</md-icon>
                </md-button>
            </div>
        </div>
        <md-divider></md-divider>
        <md-list ng-cloak layout-padding flex>
            <md-subheader>id información <span style="float: right">acción</span></md-subheader>
            <md-list-item class="md-3-line" ng-repeat="e in empleados | filter:find " ui-sref="editEmp({id: e.CodEmp})">
                <img md-whiteframe="2" ng-src="{{e.PhotoUrl || 'img/003-waiter.svg'}}" class="md-avatar deep-orange"
                     alt="{{e.Nombres}}"/>
                <div class="md-list-item-text" layout="column">
                    <h3><span class="bold">{{$index + 1}}</span> {{e.Nombres}} {{e.Apellidos}}</h3>
                    <h4><span ng-repeat="c in cargos"><span class="bold"
                                                            ng-if="c.CodCar == e.CodCar">{{c.Nombre}} </span></span>Salario:
                        {{ e.Salario | currency:"COP$":0}}</h4>
                    <p ng-repeat="t in tiendas"><span ng-if="t.CodSuc == e.CodSuc">{{ t.Direccion }}</span></p>
                </div>
                <md-button class="md-secondary md-icon-button" ng-click="deleteEmp($index, e.CodEmp)">
                    <md-icon class="material-icons">delete</md-icon>
                </md-button>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
</md-content>
<div style="height:20px"></div>
