<div layout="row">
    <div flex="20" flex-offset="10">
        <img src="img/midascorona.svg" style="width: 100%">
    </div>
    <div flex="60">
        <h1 class="md-display-3">Midas App</h1>
    </div>
</div>
<md-content class="red darken-2 jh-menu-view" layout="column" md-whiteframe="1" layout-padding flex="80" flex-offset="10">
    <div class="white-text" layout="row" layout-align="center center">
        <div flex="25" class="jh-menu-item" ui-sref="categorias">
            <img src="img/001-salty.svg">
            <h1 class="md-display-1 text-center">Categorías</h1>
        </div>
        <div flex="25" class="jh-menu-item" ui-sref="listPro">
            <img src="img/002-sandwich.svg">
            <h1 class="md-display-1 text-center">Productos</h1>
        </div>
        <div flex="25" class="jh-menu-item" ui-sref="listProv">
            <img src="img/005-food.svg">
            <h1 class="md-display-1 text-center">Proveedores</h1>
        </div>
    </div>
    <div class="white-text" layout="row" layout-align="center center">
        <div flex="25" class="jh-menu-item" ui-sref="listStore">
            <img src="img/002-restaurant.svg">
            <h1 class="md-display-1 text-center">Tiendas</h1>
        </div>
        <div flex="25" class="jh-menu-item" ui-sref="listCargos">
            <img src="img/004-human-resources.svg">
            <h1 class="md-display-1 text-center">Cargos</h1>
        </div>
        <div flex="25" class="jh-menu-item" ui-sref="listEmp">
            <img src="img/003-waiter.svg">
            <h1 class="md-display-1 text-center">Empleados</h1>
        </div>
        <div flex="25" class="jh-menu-item" ui-sref="listVent">
            <img src="img/001-money.svg">
            <h1 class="md-display-1 text-center">Ventas</h1>
        </div>
    </div>
</md-content>
